<div class="links clearfix">
    <ul class="links-menu">
        <li><a href="{% url 'products' %}"
               class="{% if request.resolver_match.url_name == 'products' %}active{% endif %}">все</a></li>
        {% for item in links_menu %}
            <li><a href="{% url 'products_category' item.category_link %}"
                   class="{% if request.resolver_match.kwargs.category == item.category_link %}active{% endif %}">{{ item.category_name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>