{% extends 'ordersapp/base.html' %}

{% block content %}
    <div class="h2 head text-center">
        Ваши заказы
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Пользователь</th>
            <th>Создан</th>
            <th>Обновлен</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.user }}</td>
                <td>{{ object.created_at|date:"d-m-Y" }}</td>
                <td>{{ object.updated_at|date:"d-m-Y" }}</td>
                <td>{{ object.get_status_display }}</td>
                <td>
                    <a href="{% url 'ordersapp:read' object.pk %}" class="btn btn-primary">Просмотреть заказ</a>
                </td>
                <td>
                    <a href="{% url 'ordersapp:update' object.pk %}" class="btn btn-warning">Изменить заказ</a>
                </td>
                <td>
                    <a href="{% url 'ordersapp:delete' object.pk %}" class="btn btn-danger">Удалить заказ</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <a href="{% url 'index' %}" class="btn btn-link">На главную</a><br>
    <a href="{% url 'ordersapp:create' %}" class="btn btn-success">Создать новый заказ</a>
{% endblock %}